<link rel="stylesheet" href="/css/footer.css">
<footer id="issuetrackerfooter" class="bg-light text-center text-white set-footer-positon">
    <div class="container p-4 pb-0">
    <section class="mb-4">
    
    <!-- Twitter -->
    <a
    class="btn text-white btn-floating m-1"
    style="background-color: #162028;"
    href="#!"
    role="button"
    ><i class="fa-brands fa-x-twitter"></i
    ></a>
    
    <!-- Linkedin -->
    <a
    class="btn text-white btn-floating m-1"
    style="background-color: #0082ca;"
    href="#!"
    role="button"
    ><i class="fab fa-linkedin-in"></i
    ></a>
    <!-- Github -->
    <a
    class="btn text-white btn-floating m-1"
    style="background-color: #333333;"
    href="#!"
    role="button"
    ><i class="fab fa-github"></i
    ></a>
    </section>
    </div>
    
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(16, 14, 14, 0.518);">
    © 2023 Copyright:
    <a class="text-white" href="http://localhost:8000/issueTracker
    ">IssueTracker.com
    </a>
    </div>
</footer>