<link rel="stylesheet" href="/css/header.css">
<header class="navHeader">
    <a href="/issueTracker" class="display-6 headerSpan" style="color:seashell">
        <i class="fa-solid fa-bug-slash" style="color: #ffffff;"></i>
        <b style="color:#f73e38">Issue</b>Tracker <font size="4px">by Sushanth</font></a>
    <a href="/issueTracker/projectDetails" class="btn btn-outline-light mx-5" style="color: #e3e3e3"><strong>Project Details</strong></a>
</header>